<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba Tekus - BITCOIN Api CoinBase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


   <!-- Muestra el valor actual del bitcoin  -->
   <ion-title>
      Valor en tiempo real
    </ion-title>
   <ion-card (click)="presentModal(false,null)">
      <ion-card-header>
        <ion-card-subtitle>Fecha {{fechaMascara}} (Ver detalle)</ion-card-subtitle>
        <ion-card-title>USD {{bitCoinDolares}}</ion-card-title>
      </ion-card-header>
  </ion-card>
  <!-- Muestra los historicos del bitcoin   -->
  
  <ion-title>
      Histórico de cierres
    </ion-title>
    <ion-card *ngFor="let item of historicoPreciosBitcoin" >
      <ion-card-header (click)="presentModal(true,item)">
        <ion-card-subtitle>Fecha {{item.data.fecha}} (Ver detalle)</ion-card-subtitle>
        <ion-card-title>Valor en dólares: USD {{item.data.amount}}</ion-card-title>
      </ion-card-header>

      
  </ion-card>





</ion-content>
